.page {
  width: 100%;
  height: 100%;
  background-color: var(--surface-ground);
  display: grid;
  grid: auto / 1fr 5fr;

  .main {
    width: 100%;
    height: 100%;
    display: grid;
    grid: 100px 1fr / auto;
    padding: 1rem;
    overflow: hidden;

    .outlet {
      overflow: hidden;
    }
  }
}
