@import "primeicons/primeicons.css";

html {
  font-size: 14px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;

  app-trading {
    .p-card,
    .p-card-body,
    .p-card-content {
      height: 100%;
    }
  }

  .p-calendar,
  .p-inputnumber {
    width: 100%;
  }

  .p-datatable {
    height: 100%;
    overflow: auto;
  }

  .p-button {
    width: 100%;
  }
}
